.button-submit{
        color: white;
        border-radius: 4px;
        background:white;
        }
.pure-button{
color: black;
background: #DFE7F2;
}

.button-small {
  font-size: 85%;
}


.personal {
  background-color: #DFE7F2
}


.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.inside-shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}


/*Good Colors:
Mint: #FF944D
Orange: #FF944D
BAD ==> Grey-Blue: #DFE7F2*/

@font-face{
  font-family: Jaapokki;
  src: url(Jaapokkienchance-Regular.otf);
}
@font-face{
    font-family: elegantLux;
    src: url(ElegantLux-Mager.otf);
}
@font-face{
    font-family: LockSmithTitle;
    src: url(LockSmith_reg.otf);
}
@font-face{
    font-family: aqua;
    src: url(aqua.ttf)
}

#mainTitle {
  text-align:center;
  font-family: elegantLux;
  font-size: 400%;
}

#your_events{
  font-family: LockSmithTitle;
  font-size: 150%
}
#yourEventFont{
  font-family: elegantLux;
}

#topMenu {
  background-color:#EEEEEE;
  /*position: fixed;*/
}

body {
    color: #DDDDDD;
    background-image: url(../stylingPictures/Elegant_Background-9.jpg);
    font-family: elegantLux;
}

img {
  padding: 1px;
  border: 1px solid #021a40;
  background-color: #DFE7F2;
}

form {
  font-family: elegantLux;
  font-weight: bold;
}

a {
  text-decoration: underline;
  font-weight: bold;
  color: #CCA300;
  border-bottom: 2px solid #BBBBBB;
}

h1{
    font-family: aqua;
}
h2{
    font-family: LockSmithTitle;
}
h3{
    font-family: aqua;
}

#your_events{
    font-family: LockSmithTitle;
}

#nav {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#nav li {
    display: block;
    float: left;
    margin: 0 5px;
    background: url(../static/fonts/first) no-repeat center top;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 1px 1px 1px #666;
    -webkit-box-shadow: 1px 1px 1px #666;
    -o-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;

}

#nav a {
    display: block;
    padding: 25px 35px;
    font-family:Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #666;
    text-align:center;
    background: url(../static/fonts/second.jpg) no-repeat center -200px;
    background: rgba(80, 125, 200, 0.55);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

#nav a:hover {
    background: url(../images/bg.jpg) no-repeat center top;
    background: rgba(100, 125, 175, 0);
}
