.button-submit{
        color: white;
        border-radius: 4px;
        background:white;
        }

.pure-button{

background-color: rgb(0, 120, 231);
color: #fff;
}

.button-small {
  font-size: 85%;
}
/*
.pure-button-primary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }
.pure-button-primary {
            background: rgb(66, 184, 221);
        }*/
.button-delete {
            background: rgb(202, 60, 60); /* this is a maroon */
        }
section {
        border-radius: 10px;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 500px
    }
.blue-grey {
        background: #C8D5E0;
        color: black;
        }
.indent-30 {
    padding-left: 20pt;
}
.personal {
  background-color: #DFE7F2
}


.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.inside-shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}


/*Good Colors:
Mint: #FF944D
Orange: #FF944D
BAD ==> Grey-Blue: #DFE7F2*/

@font-face{
  font-family: Jaapokki;
  src: url(Jaapokkienchance-Regular.otf);
}
@font-face{
    font-family: elegantLux;
    src: url(ElegantLux-Mager.otf);
}
@font-face{
    font-family: LockSmithTitle;
    src: url(LockSmith_reg.otf);
}
@font-face{
    font-family: aqua;
    src: url(aqua.ttf)
}

#mainTitle {
  text-align:center;
  font-family: elegantLux;
  font-size: 400%;
}

#your_events{
  font-family: LockSmithTitle;
  font-size: 150%
}
#yourEventFont{
  font-family: elegantLux;
}

#topMenu {
  background-color:#EEEEEE;
  /*position: fixed;*/
}

body {
    color: #DDDDDD;
    background-image: url(../stylingPictures/Elegant_Background-9.jpg);
    font-family: elegantLux;
}

img {
  padding: 1px;
  border: 1px solid #021a40;
  background-color: #DFE7F2;
}

form {
  font-family: elegantLux;
  font-weight: bold;
}

a {
  text-decoration: underline;
  font-weight: bold;
  color: #CCA300;
  border-bottom: 2px solid #BBBBBB;
}

h1{
    font-family: aqua;
}
h2{
    font-family: LockSmithTitle;
}
h3{
    font-family: aqua;
}

#your_events{
    font-family: LockSmithTitle;
}

#nav {
    margin: 10px;
    padding: 10px;
    list-style-type: none;
}

#nav li {
    display: block;
    float: left;
    margin: 0 5px;
    background: url(first) no-repeat center top;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 1px 1px 1px #666;
    -webkit-box-shadow: 1px 1px 1px #666;
    -o-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;

}

#nav a {
    display: block;
    padding: 25px 35px;
    font-family:Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #666;
    text-align:center;
    background: url(second) no-repeat center -200px;
    background: rgba(80, 125, 200, 0.55);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

#nav a:hover {
    background: url(second) no-repeat center top;
    background: rgba(100, 125, 175, 0);
}
