{% extends 'layout.html' %}


{% block body %}

    <h1> ABOUT </h1>

Rulo is a unique buying and selling application that allows users to buy individual items for bulk prices. Through the app, users can create events centered around a specific bargain. Then, nearby users can request to join these events, and soon meet up in person to make the purchase. Members also have the opportunity to rate and comment on their experience with other users, which helps hosts discern who they want to bargain buy with. <br><br>

With a light and sleek design, Rulo will let you enjoy saving those grocery dollars.
<br><br>
Click for a <a href="https://www.youtube.com/watch?v=TXK971LR3Bw&feature=youtu.be"> demo </a>

{% endblock %}