{% extends 'layout.html' %}


{% block body %}
<section class="blue-grey">
<h1> {{event['ename']}}</h1>
created {{event['datetime'].month}}/{{event['datetime'].day}} at {{event['datetime'].hour}}:{{event['datetime'].minute}}<br>
<b>Host:</b> {{event['creator']}}
<br><br>
<b> Location:</b> {{event['address']}}
<input type=hidden id="latLong" value={{ event['location'] }}>
<br><br>
<b> Distance:</b> <div style="visibility: hidden;" id="dist">{{ event['location'] }}</div>
{% if event['started'] %}
<font color="green" size = "8">Event has started!</font>
{% elif udict['uname'] == event['creator'] and false == event['open'] %}
<form method="post" class="pure-form pure-form-aligned">
    <fieldset>
        <button type="submit" id="submit" name="submit" value = "start"
        class="pure-button pure-button-primary">Start Event</button>
        </fieldset>
</form>
{% endif %}
<br>
<b>Members:</b> <br>
{% for u in event['members'] %}<li>
  <a href={{"/user/" ~ u}} style="text-decoration:none;">{{u}}</a> <br></li>
{% endfor %}
{% if udict['uname'] == event['creator'] %}
<b>Requests:</b>
{% for u in event['requests'] %}<li>
  <a href={{"/user/" ~ u}} style="text-decoration:none;">{{u}}</a> <font size="2"><a href={{"/confirm/" ~ event["_id"] ~ "/"~ u }}>Confirm</a><br></li></font>

{% endfor %}
{% endif %}
<br>

<br><br>
Event is
	{% if event['open']%}
	open to requests
	{% else %}
	closed to requests
	{% endif %}
<br>
{% if udict['uname'] == event['creator'] and event['open'] %}
<form method="post" class="pure-form pure-form-aligned">
    <fieldset>
        <button type="submit" id="submit" name="submit" value = "close"
        class="pure-button">Close Event</button>
        </fieldset>
</form>
{% endif %}



<h3> Messages: </h3>
{% for msg in event['msgs'] %}
<font size="3.25">{{msg['msg']}}<br> </font>
<font size="3">&nbsp;-  <a href={{"/user/" ~ msg['user']}} style="text-decoration:none;">{{msg['user']}}</a> </font> <font size="2.5">{{msg['time'].month}}/{{msg['time'].day}} at {{msg['time'].hour}}:{{msg['time'].minute}}<br></font><br><br>
<!-- Still needs time --!>
     {% endfor %}


     <form action={{"/newmsg/" ~ event["_id"]}} method="post" class="pure-form pure-form-aligned">

       <fieldset>
         <div class="pure-control-group"><textarea name="msg"
						   id="msg" placeholder="Feel free to leave a comment" cols="40" rows="5"></textarea></div>


         <button type="submit" onclick="action()" class="pure-button">Submit</button>
         <input name="long" value=latitude id="long" type="hidden">
         <input name="lat" value=longitude id="lat" type="hidden">

       </fieldset>
     </form>



     <br>
     <br>
  {% if udict['uname'] == event['creator'] %}
    <form action= {{"/delete_event/" ~ event['_id']}} method="post" class="pure-form pure-form-aligned">

  <button type="submit" name="submit" value='/events'
	  class="pure-button button-delete"> Delete Event </button>
</form>
</section>
{% endif %}
     {% endblock %}
