{% extends 'layout.html' %}


{% block body %}
<h1> Hey there {{udict['fname']}}! </h1>
<h2>Check out your local Events </h2>

<form action="/joinevent" method="post" class="pure-form pure-form-aligned">

<hr>
{% for e in elist %}
{% if e.inRadius %} <!-- need to figure out how the gps part will integrate-->
   <h2> Name: {{e['ename']}} </h2> <br>   
   Creator: {{e['creator']}} <br> 
   Number of people: {{e['numb']}} <br>
   Description: {{e['desc']}} <br>
   Lat: {{e['lat']}} <br>
   Lon: {{e['lon']}} <br>
   {% endif %}
   
   <button type="submit" name="submit" value='{{e['_id']}}'
	   class="pure-button"> join </button>
<hr>

{% endfor %}

</form>

{% endblock %}
