{% extends 'layout.html' %}

{% block body %}

<h1> You have created an event! </h1>
<br>
Event name: {{edict['ename']}} <br>
Creator: {{edict['creator']}} <br>
Number of people: {{edict['numb']}} <br>
Total Price: {{edict['total']}} <br>
Price Per Person: {{edict['price']}} <br>
Description: {{edict['desc']}} <br>
<!--Lat: {{edict['lat']}} <br>
    Lon: {{edict['lon']}} <br> -->
Location: {{edict['loc']}} <br>
<div id="location" sytle="display: none;">{{edict['loc']}}</div>
<div id="map" height="50%" width="50%"></div>
<script>
  var location = document.getElementById("location").value;
  var m = document.getElementById("map");
  var img = new Image();
  img.src="https://maps.googleapis.com/maps/api/staticmap?center="+location+"&zoom=15&size=350x350&sensor=true";
  m.innerHTML="";
  m.appendChild(img);
</script>


{% endblock %}
