<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
    <title>Rulo</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link href="../static/stars.css" rel="stylesheet">
    {% if username or udict['uname'] %}
      <link href="../static/fonts/decorate.css" rel="stylesheet">
    {% else %}
      <link href="../static/fonts/stranger.css" rel="stylesheet">
    {% endif %}
    <style>
      .flashes {color: red; text-indent: 50px}
    </style>
  </head>

  <div id="topMenu" class="pure-menu pure-menu-open pure-menu-horizontal one-edge-shadow">

    {% if username or udict['uname'] %}
    <li><a href="/about"><img src="../static/RuloPic.png" width="30" height="30"></a></li>
    <li><a href="/your_events">Your Events</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/create_events">Create Events</a></li>
    <li><a href="/personal">Personal Settings</a></li>
    <li><a href="/logout" style="align:right">Logout</a></li>
     </div>

    {% else %}
    <li><a href="/about"><img src="../static/RuloPic.png" width="50" height="50"></a></li>
    <li><a href="/home">Home</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/login" style="text-align:right">Login</a></li>
     </div>
    {% endif %}
    <!-- put in whichever tabs we want -->


  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class=flashes>
    {% for message in messages %}
    <p>{{ message }}
      {% endfor %}
  </div>
  {% endif %}
  {% endwith %}

  <body style="height:100% width:50%">
    <div class="pure-g">
      <div class="pure-u-1-5"></div>
      <div class="pure-u-3-5">
	<!-- <font face ="Baskerville" size ="6" style="text-align:center">Rulo</font> -->
<br><br><br><section id="mainTitle"> Rulo </section>
{% if username or udict['uname'] %}
    <center>

    {% for notification in udict['notifications'] %}
	{% if loop.index == 1 %}
     Starting events
	{% endif %}
     <br>
     <form class="pure-form pure-form-aligned" method="POST" action={{"/confirm_notification/" ~ notification}}>

     <button type="submit" class="pure-button pure-button-primary" id="nav"> Go to </button>


     </form>
      <br><br>


    {% endfor %} </center>
    {% endif %}
	{% block body %}
	{% endblock %}

      </div>


    </div>

    {% block gps %}


    <!-- <button onclick="action()">Get Coordinates!</button>
    <button onclick="distTest()">Get Distance!</button> -->
    <p id="map-location"></p>
    <div id="map-test" style="height:50% width:50%">
    </div>
    <div id="dist-test"></div>

    <input id="yourLocation" name="loc" type="hidden" value="">
    <input id="TheDistance" name="dist" type="hidden" value="">


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2ie2fjoFfkQMGGPZotTg1rxsEcaYuDHY"></script>

    <script src="../static/GPSEvent.js"></script>

    {% endblock %}


  </body>
</html>
