{% extends 'layout.html' %}


{% block body %}
<section class="blue-grey">
<h1>Personal Information</h1>
<br>
<br>
<!-- <img src="../static/profilePictures/ewokPing.jpg" height="50" width="50"> -->
<!-- <img id= src="{{ profile }}" height = "75" width="75"> -->
<img class="inside-shadow" src= {{ url_for('static', filename = "profilePictures/"~profile) }} height = "150" width="150"><br><br>
<div class='pure-g'>

<div class ="pure-u-1-3">

<form action="/proPic" method="post" enctype="multipart/form-data" class="pure-form pure-form-aligned">
  <div class="pure-control-group">
    <!-- <label for="pic">Picture</label> -->
    <input id="pic" name="pic"  type="file" accept="image/*"></div><br>
  <button type="submit" class="pure-button button-secondary
  button-small">Replace with uploaded Picture</button>
</form>

<!--</div>

<div class = "pure-u-1-3 personal">--!>
<br><br>
<form action="/personal_process" method="post" class="pure-form pure-form-aligned">
  <fieldset>

  {% if change == "name" %}
    <div class="pure-control-group">
        <label for="fname">New First Name</label>
        <input id="fname" name="fname" type="text"
            placeholder="First Name"></div><br>
    <div class="pure-control-group">
        <label for="lname">New Last Name</label>
        <input id="lname" name="lname" type="text"
            placeholder="Last Name"></div><br>

    <button type="submit" name="submit" value="name"
	    class="pure-button pure-button-primary">Submit</button> <br>
  {% else %}
    <div class="change">
    Name: {{udict['fname']}} {{udict['lname']}} <br><font size="2"><a class="pure-button"  href="/personal/name">Change</a></font>
  </div>
    {% endif %}
    <br>


    {% if change == "email" %}
    <br> <label for="email"> New Email:</label>
    <input id="email" name="email" type="text"
	   placeholder="example@gmail.com"><br>
    <br>
    <button type="submit" name="submit" value="email"
	    class="pure-button pure-button-primary">Submit</button>
    {% else %}
    <div class ="change">
    Email: {{udict['email']}}<br><font size="2"><a class="pure-button pure-button-primary"  href="/personal/email">Change</a></font>
  </div>
    {% endif %}
    <br>

    {% if change == "pw" %}
    <div class="pure-control-group">
        <label for="oldpw">Old Password</label>
        <input id="oldpw" name="oldpw" type="text"
            placeholder="Old Password"></div><br>
    <div class="pure-control-group">
        <label for="ename">New Password</label>
        <input id="pw" name="pw" type="text"
            placeholder="New Password"></div><br>
    <div class="pure-control-group">
        <label for="cpw">Confirm New Password</label>
        <input id="cpw" name="cpw" type="text"
            placeholder="Confirm Password"></div><br>

    

    <button type="submit" name="submit" value="pw"
	    class="pure-button pure-button-primary">Submit</button>
    {% else %}
    <div class ="change">
    Password: <br><font size="2"><a class="pure-button pure-button-primary"  href="/personal/pw">Change</a></font>
  </div>

</div>


    {% endif %}


  </fieldset>
</form>
  </section>
{% endblock %}
