{% extends 'layout.html' %}


{% block body %}
<h1>Personal Information</h1>
<br>
<br>
<br>
<!-- <img src="../static/profilePictures/ewokPing.jpg" height="50" width="50"> -->
<!-- <img id= src="{{ profile }}" height = "75" width="75"> -->
<img src= {{ url_for('static', filename = "profilePictures/"~profile) }} height = "150" width="150"><br><br>


<form action="/proPic" method="post" enctype="multipart/form-data" class="pure-form pure-form-aligned">
  <div class="pure-control-group">
    <label for="pic">Picture</label>
    <input id="pic" name="pic"  type="file" accept="image/*"></div><br>
  <button type="submit" class="pure-button">Use This Picture</button>
</form>
<br><br>
<form action="/personal_process" method="post" class="pure-form pure-form-aligned">
  <fieldset>
    Name: {{udict['fname']}} {{udict['lname']}} <br>

  {% if change == "name" %}
    <div class="pure-control-group">
        <label for="fname">First Name</label>
        <input id="fname" name="fname" type="text"
            placeholder="First Name"></div><br>
    <div class="pure-control-group">
        <label for="lname">Last Name</label>
        <input id="lname" name="lname" type="text"
            placeholder="Last Name"></div><br>

    <button type="submit" name="submit" value="name"
	    class="pure-button">submit</button>
  {% else %}
    <div class="change">
    <font size="2"><a href="/personal/name">Change</a></font>
    </div>
  {% endif %}
    <br><br>

    Email: {{udict['email']}} <br>

    {% if change == "email" %}
    <label for="email">Email:</label>
    <input id="email" name="email" type="text"
	   placeholder="example@gmail.com">
    <br>
    <button type="submit" name="submit" value="email"
	    class="pure-button">submit</button>
    {% else %}
    <div class ="change">
    <font size="2"><a href="/personal/email">Change</a></font>
  </div>
    {% endif %}
    <br><br>

    {% if change == "pw" %}
    <div class="pure-control-group">
        <label for="oldpw">Old Password</label>
        <input id="oldpw" name="oldpw" type="text"
            placeholder="Old Password"></div><br>
    <div class="pure-control-group">
        <label for="ename">New Password</label>
        <input id="pw" name="pw" type="text"
            placeholder="New Password"></div><br>
    <div class="pure-control-group">
        <label for="cpw">Confirm New Password</label>
        <input id="cpw" name="cpw" type="text"
            placeholder="Confirm Password"></div><br>
    
    <br>

    <button type="submit" name="submit" value="pw"
	    class="pure-button">submit</button>
    {% else %}
    <div class ="change">
    Password: <font size="2"><a href="/personal/pw">Change</a></font>
  </div>


    {% endif %}
    <br><br>
    {% if change == "age" %}
    <label for="age">Age</label>
    <input id="age" name="age" type="text" placeholder="age">
    <br>

    <button type="submit" name="submit" value="age"
	    class="pure-button">submit</button>
    {% else %}
    <div class ="change">
    Age: <font size="2"><a href="/personal/age">Change</a></font>
  </div>
    {% endif %}

  </fieldset>
</form>
{% endblock %}
