{% extends 'layout.html' %}


{% block body %}

<h2> Register </h2>
<form action="/user" method="post" class="pure-form pure-form-aligned">
  <!--list for registering-->
  <fieldset>
    <div class="pure-control-group">
      <label for="fname">First Name</label>
      <input id="fname" name="fname" type="text"
	     placeholder="First Name"></div><br>
    <div class="pure-control-group">
      <label for="lname">Last Name</label>
      <input id="lname" name="lname" type="text" placeholder="Last Name"></div><br>
    <div class="pure-control-group">
      <label for="uname">Username</label>
      <input id="uname" name="uname" type="text" placeholder="Username"></div><br>
    <div class="pure-control-group">
      <label for="pw">Password</label>
      <input id="pw" name="pw" type="password" placeholder="Password"></div><br>
    <div class="pure-control-group">
      <label for="rpw">Confirm Password</label>
      <input id="rpw" name="rpw" type="password" placeholder="Confirm Password"></div><br>
    <div class="pure-control-group">
      <label for="pic">Picture</label>
      <input id="pic" name="pic" enctype="multipart/form-data" type="file" accept="image/*"></div><br>
    <div class="pure-control-group">
      <label for="age">Age</label>
      <input id="age" name="age" type="text" placeholder="42" ></div><br>
      <div class="pure-control-group">
      <label for="email">Email</label>
      <input id="email" name="email" type="text"
	placeholder="example@gmail.com" ></div><br>
    
    <button type="submit" class="pure-button">Register!</button>
  </fieldset>
  <br><br><br>
  
{% endblock %}
