{% extends 'layout.html' %}


{% block body %}
<section class="blue-grey">
<h2> Register </h2>
<form action="/user" method="post" class="pure-form pure-form-aligned">
  <!--list for registering-->
  <fieldset>
    <div class="pure-control-group">
      <label for="fname">First Name</label>
      <input id="fname" name="fname" type="text"
	     placeholder="First Name"></div><br>
    <div class="pure-control-group">
      <label for="lname">Last Name</label>
      <input id="lname" name="lname" type="text" placeholder="Last Name"></div><br>
    <div class="pure-control-group">
      <label for="uname">Username</label>
      <input id="uname" name="uname" type="text" placeholder="Username"></div><br>
    <div class="pure-control-group">
      <label for="pw">Password</label>
      <input id="pw" name="pw" type="password" placeholder="Password"></div><br>
    <div class="pure-control-group">
      <label for="rpw">Confirm Password</label>
      <input id="rpw" name="rpw" type="password" placeholder="Confirm Password"></div><br>
    <div class="pure-control-group">
      <label for="age">Age</label>
      <input id="age" name="age" type="number" placeholder="42" ></div><br>
    <div class="pure-control-group">
      <label for="email">Email</label>
      <input id="email" name="email" type="text"
	     placeholder="example@gmail.com" ></div><br>
    
    
    
    <button type="submit" class="pure-button pure-button-primary">Register</button>
  </fieldset></section>
  <br><br><br>
  
  {% endblock %}
