{% extends 'layout.html' %}


{% block body %}
<h1> {{pdict['fname']}} {{pdict['lname']}}'s Page</h1>

<br><br>
<br><br>
***Picture somewhere on this page***
<br>
<br>
Rating:

{% if pdict['uname'] != udict['pname'] %}
    <form action="/" method="post" class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label for="rating">Rating</label>
                <input id="rating" name="rating" type="radio"
                    placeholder="Let's get Turkeys!"></div><br>
            <div class="pure-control-group">
                <label for="numb">Total People Needed</label>
                <input id="numb" name="numb" type="text" placeholder="3"></div><br>
            <div class="pure-control-group">
                <label for="desc">Description</label><textarea name="desc" id="desc" placeholder="What is your event?"cols="40" rows="5">
                </textarea></div><br>
            
            
            <button type="submit" onclick="action()" class="pure-button">Go!</button>
            <input name="long" value=latitude id="long" type="hidden">
                <input name="lat" value=longitude id="lat" type="hidden">
        </fieldset>
    </form>
{% endif %}

{% endblock %}
