{% extends 'layout.html' %}

{% block body %}

<h1> {{pdict['fname']}} {{pdict['lname']}} </h1>
<img class= "shadow" src= {{ url_for('static', filename = "profilePictures/"~profile) }} height = "75" width="75">
<br><br>
<br><br>
<br>
<br>

<h3> Ratings: </h3>
{% if pdict['reviews'] %}
<b> Average Rating: {{'%0.1f' % pdict['avrate']}} </b> <br><br>

{% for r in pdict['reviews'] %}

{{r['user']}} gave a {{r['rating']}}, said:<br>
<div style="margin-left:3em"> {{r['comment']}} </div> <br>

{% endfor %}
{% else %}
<div style="margin-left:3em"> There are currently no reviews. </div>
{% endif %}

{% if pdict['uname'] != udict['uname'] %}
Rate your experience with {{pdict['fname']}}: <br>
<form action= {{"/addreview/"~ pdict['uname']}} method="post" class="pure-form pure-form-aligned">
  <span class="star-rating">
    <input type="radio" name="rating" value="1"/><i></i>
    <input type="radio" name="rating" value="2"/><i></i>
    <input type="radio" name="rating" value="3"/><i></i>
    <input type="radio" name="rating" value="4"/><i></i>
    <input type="radio" name="rating" value="5"/><i></i>
  </span>

  <div class="pure-control-group">
    <label for="comment">Comment</label><textarea name="comment" id="comment" placeholder="Leave a comment." cols="40" rows="5"></textarea></div><br>
  <button type="submit" onclick="action()" class="pure-button">Submit</button>
</form>

{% endif %}


{% endblock %}
