{% extends 'layout.html' %}

{% block body %}



<section class="blue-grey">
{% for list in alist %}

<h1 id="your_events">
  {% if loop.index == 1 %}
  Hosted Events
  {% elif loop.index == 2 %}
  Joined Events
  {% elif loop.index == 3 %}
  Requested Events
  {% endif %}
</h1>
{% if list[0] %}
<div id="yourEventFont">
 
{% for e in list %}
<h2> Name: <a href={{"/event_page/" ~  e['_id']}}
  style="text-decoration:none;"> {{e['ename']}}</a> </h2>
  <div class = "indent-30">
{% if e['numb'] %}
<b>Number of people: </b> {{e['numb']}} <br>
{% endif %}
{% if e['total'] %}
<b>Total Price: </b> {{e['total']}} <br>
{% endif %}
{% if e['price'] %}
<b>Price Per Person: </b> {{e['price']}} <br>
{% endif %}
<b>Description:</b> {{e['desc']}} <br>
<b>Address:</b> {{e['address']}} <br>
  {% if e['creator']==udict['uname'] %}
<b>Active Requests:</b>
<br>
{% if e['requests'] %}

{% for u in e['requests'] %}
<li>
  <a href={{"/user/" ~ u}} style="text-decoration:none;">{{u}}</a> <font size="2"><a href={{"/confirm/" ~ e["_id"] ~ "/"~ u }}>Confirm</a></font><br></li>
{% endfor %}
{% else %}
<i>No Active Requests</i><br>
{% endif %}
{% endif %}
<b>Members:</b>
<li><a href={{"/user/" ~ e['creator']}} style="text-decoration:none;">{{e['creator']}}</a><font size="2.5">(Host)</font></li>
{% if e['members'] %}
{% for u in e['members'] %}<li>
  <a href={{"/user/" ~ u}} style="text-decoration:none;">{{u}}</a> <br></li>
{% endfor %}
{% else %}
<i>No Other Members</i><br>
{% endif %}
  created {{e['datetime'].month}}/{{e['datetime'].day}} at {{e['datetime'].hour}}:{{e['datetime'].minute}} <br>
{% if e['creator']==udict['uname'] %}
<form action= {{"/delete_event/" ~ e['_id']}} method="post" class="pure-form pure-form-aligned">

  <button type="submit" name="submit" value='/your_events'
	  class="pure-button button-delete"> Delete </button>
</form>
{% endif %}

  </div>
{% endfor %}
{% else %}
<i>Not Available</i>
<!-- list is empty !-->
{% endif %}


{% endfor %}




</div>

</section>
{% endblock %}
